<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.riteshagrawal.sstc_edrp">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SSTC EDRP"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".about_us"
            android:screenOrientation="portrait"
            android:label="SSTC EDRP">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".sem_startday_setter"
            android:label="Set SEM Start Date"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:label="About App"
            android:screenOrientation="portrait"/>
        <activity android:name=".AttendenceActivity"
            android:label="SSTC EDRP"
            android:screenOrientation="portrait"/>

        <activity android:name=".ReportCardActivity"
            android:label="SSTC EDRP"
            android:screenOrientation="portrait"/>

    </application>

</manifest>